li {
	list-style-type: none!important;
}

ul {
	margin-bottom: 20px;
	margin-left: 10px;
}

ul li {
	color: #232525;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 600;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

ul.checkmark {
	margin-top: 20px;
}

ul.checkmark li:before {
	font-size: 48px;
	font-size: 4.8rem;
	vertical-align: middle;
}

ul.checkmark li:before {
	color: #e85555;
	content: "\f3fd";
	display: inline-block;
	font-family: 'ionicons';
	margin-left: -36px;
	width: 36px;
}

ul.checkmark li {
	line-height: 1;	
	padding: 8px 0 8px 36px;
}